body{
  background: rgba(38, 191, 240, 0.79);
  padding: 5px 0 3px 0;
  width: 280px;
  border-radius: 9px;
  filter: drop-shadow(3px 2px 5px #fff);
}

#Calculadora{
  background: rgba(224, 91, 106, 0.79);
  padding: 5px 0 3px 0;
  width: 320px;
  border-radius: 9px;
  filter: drop-shadow(3px 2px 5px #fff);
}

#contenedor-grid{
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(6, 70px);
  grid-gap: 4px;
  justify-content: center;
  /* margin: auto; */

  /*Decidí no usar plantilla de areas, ya que solamente requeria posicionar 3 elementos*/

  /* grid-template-areas:
  "result result result result"
  "borrar limpiar dividir multiplicar"
  "fila2 fila2 fila2 fila2"
  "fila3 fila3 fila3 fila3"
  "fila4 fila4 fila4 ."
  "fila5 fila5 fila5 ."; */
}


/* #resultado{
  grid-area: result;
} */

#resultado{
  background: #281414;
  grid-area: 1/1/2/5;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 1.9rem;
  font-family: serif;
  color: #fff;
  text-align: right;
}

#resultado::placeholder{
  font-size: 1.9rem;
  color: #ffffff;
}

.item17{
  grid-area: 6/1/7/3;
}

.item16{
  grid-area: 5/4/7/5;
  background: rgb(249, 12, 12);
}

.item16:hover{
  background: rgb(255, 40, 3);
}

/*Diseño a las teclas*/
button{
  background: rgb(222, 207, 207);
  color: #000;
  border-radius: 4px;
  font-size: 1rem;
  /* font-weight: bold; */
  border: 1px solid #fff;
  outline: inherit;
  box-shadow: 1px 1px 1px #000;
}

button:hover{
  background: #c5cbc5;
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
}

.footer{
    margin: auto;
    margin-top: 5px;
    text-align: center;
}

.footer  h3 {
  font-size: 1.2rem;
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: 'Faster One', cursive;
}

.footer-logos i{
  position: relative;
  top: -10px;
  color: black;
  margin: 0 5px 0 5px;
}

.footer-logos i:hover{
  color: rgb(204, 209, 221);

}
